* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgba(0, 0, 0, 0.7) url('fork n spice.jpeg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
}
header{
    font-size: 20px;
    font-style: italic;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head h1{
    color: orange;
    margin-left: 10px;
    cursor: pointer;
}
.navbar ul li{
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    padding: 4px;
    transition: 0.5s;
}
.navbar ul li a:hover{
    box-shadow: 0 3px 35px orangered inset, 0 3px 35px orangered inset, 0 3px 35px orangered inset, 0 3px 35px orangered inset;
}
.navbar .resv{
    padding: 8px;
    background-color: orangered;
}
.content{
    position: absolute;
    color: #fff;
    top: 30%;
    left: 30%;
}
.content h3{
    font-size: 20px;
    margin-left: 30%;
}
.content h1{
    font-size: 50px;
}
.content p{
    text-align: center;
    margin-top: 17px;
}
.search{
    position: absolute;
    margin-top: 20%;
    margin-left: 40%;
}
.search input{
    outline: none;
    border: none;
    padding: 10px 35px;
    size: 1em;
    width: 100%;
    border-radius: 10px;
}
.submit{
    position: absolute;
    margin-top: 23.5%;
    margin-left: 43.5%;
}
.submit a{
    text-decoration: none;
    color: #fff;
    padding: 8px 25px;
    background-color: orangered;
    border-radius: 10px;
}